- current = 'my_bills'
doctype html
html(lang='en')
  head
    include head.pug
  body
    include nav.pug
    .container
      .panel.panel-default
        .panel-heading
          if results.length > 0
            h3
              | Meus Boletos (#{results[0].student_name})
          else
            h3
              | Meus Boletos (#{student_name})
        .panel-body
          if results.length > 0
            table.table.table-bordered(style='width: 100%;')
              thead
                tr
                  th Ano
                  th Mês
                  th
              tbody
                for row_data in results
                  tr
                    td #{row_data.year}
                    td #{row_data.month}
                    td
                      a.btn.btn-default(href='/download?src='+row_data.src) Baixar
          else
            p Nenhum boleto foi encontrado para o aluno com cpf #{student_name}.
include import_scripts.pug
